/////////////////// variables
$fontFamily: "Arial", sans-serif;
$fontSize: 16;
$fontColor: #404e58;
$backColor: #111b21;
$activeColor: #00a884;
$allTextShadow: none;
$containerWidth: 1040;
$minWidth: 320px;

//////////////////// animations
